# zig build artifacts
.zig-cache/
zig-out/

# benchmark build artifacts
bench/bench-httparse/target/
bench/picohttpparser/picohttpparser

# some unstable testing stuff
src/simd

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
